<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <shutdownHook/>

    <property name="LOG_LEVEL" value="${VIGILANT_LOG_LEVEL:-INFO}"/>
    <appender name="STDOUT" class="io.vigilant.perf.SlowConsoleAppender">
        <delayMillis>${perf.slowSinkDelayMs:-50}</delayMillis>
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withSequenceNumber>false</withSequenceNumber>
            <withNanoseconds>false</withNanoseconds>
            <withContext>false</withContext>
            <withMarkers>false</withMarkers>
            <withArguments>false</withArguments>
            <withFormattedMessage>true</withFormattedMessage>
            <withMessage>false</withMessage>
        </encoder>
    </appender>

    <include resource="logback-async-stdout.xml"/>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>
</configuration>
