<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>2048</discardingThreshold>
        <neverBlock>true</neverBlock>
        <includeCallerData>false</includeCallerData>
        <maxFlushTime>2000</maxFlushTime>
        <appender-ref ref="STDOUT"/>
    </appender>
</included>
